{% extends "check_wheather/base.html" %}
{% load staticfiles %}

{% block content %}
<div class="container">
    <h1 style="text-align:center;">Paste source code</h1><br>
    <div class="row">
        <div class="col-md-offset-4 col-md-3">
            <form action="" method="POST" >{% csrf_token %}
                <textarea rows="10" cols="75" name="source_code" class="form-control" placeholder="Search Address">

                </textarea>

                <!-- <input type="text" name="source_code" class="form-control" placeholder="Search Address"/><br> -->
                <input type="submit" class="btn btn-default" value="submit"/>
            </form>
        </div>
    </div>
        <div class="row">
            <div class="col-md-offset-4 col-md-4">
                {% if pastebin_url %}
                Pastebin url is :- <strong>{{ pastebin_url }} </strong><br>
                {% endif %}
            </div>
        </div>
</div>
{% endblock %}

{% block footer %}

{% endblock %}
